@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Common styles */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Homepage styles */

.bg {
  background-image: url("../images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

.content {
  width: 100%;
  height: 100%;
  transform: inherit;
}

.main-section {
  height: calc(100vh - 150px);
  margin: 0.5rem 1rem;
  display: flex;
  align-items: flex-end;
}

.hidden {
  width: auto;
  min-height: 25rem;
}

.heading {
  font-weight: bold;
}

.description {
  font-size: 1.5rem;
}

.nav-link {
  padding: 0.5rem 0.3rem;
}

.view-works-button {
  width: 164px;
  height: 33px;
  color: white;
  background: #49a4e6;
  border-radius: 5px;
  border: 1px solid #49a4e6;
}

.view-works-button:hover {
  background: #0790f1;
  border-radius: 5px;
  border: 1px solid #0790f1;
}

.main-section-content {
  max-height: 47rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.bg-gray {
  background-color: #c4c4c4;
}

/* Resume page styles */

.logo-text {
  color: #0000ff;
  font-size: 1.5rem;
}

.print-icon {
  position: fixed;
  right: 80px;
  bottom: 50px;
}

.address-font {
  font-size: 1.3rem;
}

.timeline-font {
  font-size: 1.2rem;
}

.profile-main-section {
  height: calc(100vh - 120px);
}

.profile-section {
  width: 100%;
  height: 47rem;
}

/* Responsiveness */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-section-content {
    max-height: 52rem;
  }

  .main-section {
    padding-right: 3.5rem;
  }
}

/* Small devices (portrait, 768px and down */
@media only screen and (max-width: 768px) {
  .main-section-content {
    max-height: 31rem;
  }

  .hidden {
    min-height: 4rem;
  }

  .profile-main-section {
    margin-top: 1.3rem;
  }

  .profile-section {
    height: 25.5rem;
  }

  .company {
    display: flex;
    justify-content: center;
  }

  .print-icon {
    position: fixed;
    right: 1rem;
    bottom: 0.6rem;
  }

  .header {
    font-size: 1rem;
  }

  .line {
    width: 10%;
  }

  .print-icon img {
    width: 2rem;
  }

  .company img {
    width: 1.2rem;
    margin-right: 3px;
  }

  .logo-text {
    font-size: 1rem;
  }
  
  .address-font {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }

  .resume-heading {
    font-size: 0.9rem;
  }

  .heading-2 {
    font-size: 0.8rem;
  }
  
  .timeline-font {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }

  .details-section p {
    font-size: 0.8rem;
  }

  .list-text {
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
}
