@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.bg {
  background-image: url("../images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

.content {
  width: 100%;
  height: 100%;
  transform: inherit;
}

.main-section {
  height: calc(100vh - 150px);
  margin: 0.5rem 1rem;
  display: flex;
  align-items: flex-end;
}

.hidden {
  width: auto;
  min-height: 25rem;
}

.heading {
  font-weight: bold;
}

.description {
  font-size: 1.5rem;
}

.nav-link {
  padding: 0.5rem 0.3rem;
}

.view-works-button {
  width: 164px;
  height: 33px;
  color: white;
  background: #49a4e6;
  border-radius: 5px;
  border: 1px solid #49a4e6;
}

.view-works-button:hover {
  background: #0790f1;
  border-radius: 5px;
  border: 1px solid #0790f1;
}

.main-section-content {
  max-height: 47rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.bg-gray {
  background-color: #c4c4c4;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-section-content {
    max-height: 52rem;
  }

  .main-section {
    padding-right: 3.5rem;
  }
}
